__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
env/
venv/
ENV/
.DS_Store

# Ignore all PNGs except those in plots directories
*.png
!plots/*.png
!tutorials/*/plots/*.png
!docs/tutorials/*/plots/*.png 